@mixin btn($name, $w, $b-color) {
    .btn-#{$name} {
      width: $w;
      padding: 10px;
      border : 1px solid $b-color ;
      text-align: center;
      vertical-align: middle;
      color: $b-color;
      cursor: pointer;
      border-radius: 5px;
      transition: .2s all ease-in-out;
      @content;
      &:hover {
        background-color: $bgc;
        border: initial;
      }
    }
  }